<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="OLogInfo" type="System.Configuration.SingleTagSectionHandler" allowLocation="false" />    
  </configSections>

  <appSettings>
    <!--Module 名稱-->
    <!--<add key="ModuleName" value="SelfTest"/>-->
    <add key="ModuleName" value="TW_TC_Advan_BICS9QLC_TYieldAnalyze_1"/>

    <!--Module Dll 檔案全名-->    
    <add key="ModuleDllFileFullName" value="ProjectLifeModuleCase.dll"/>

    <!--Module Dll內對應的名稱使用的 NameSpace-->    
    <add key="ModuleDllNameSpace" value="ProjectLifeModuleCase.Case."/>

    <!--Module 內要吃的 ConfigFolderPath-->
    <add key="ModuleConfigFolderPath" value="D:\Development\ProjectLifeModule\Data\ProjectConfig"/>
  </appSettings>

  <OLogInfo
    MaxSaveDay="30"
	  MaxSaveSize="3"
	  MaxSaveLimit="7777"
  />
  
</configuration>